* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: comic sans ms;
	
}

   body {
   background-color: #c0c0c0;
   }

   .wrapper {
   width: 1200px;
   min-height: 800px;
   margin: 0px auto;  
   padding: 0px;
   text-align: justify;
   background-color: white;
   overflow: hidden;
}

p {
	margin: 0 3% 0 3%;
}

main{
	width: 60%;
}

main p:first-letter {
    font: bold 24px Verdana;
    color:#ff0000
}

.TheBest p:first-letter {
    font: bold 24px Verdana;
    color:#FF18BF
}
				   
.header {
	min-height: 106px;
	position: relative;
}

.header li {
	list-style-type: none;
}

.header ul {
	width: 80%;
	margin: 0px auto;
	margin-top: 42px;
	font-size: 20px;
	justify-content: space-between;
	display: flex;
}


.pagination {
	display: flex;
	justify-content: space-between;
}

.pagination li {
	list-style-type: none;
	margin: 0 3% 0 3%;
}

.pagination a {
	color: #0BDA51;
}


a {
   text-decoration: none;
   color: #99c50a;
   opacity: 0.67;  
}

.active {
   text-decoration: underline;
}

a:hover {
   opacity: 1;
   transition: .8s;
}

.rightContent {
   width: 40%;  
   float: right; 
   text-align: justify;
}

.roster {
	margin: 0 25% 0 25%;
}

.TheBest {
	margin: 0 20% 0 20%;
}

footer img{
max-width: 5%;
max-height: 5%;
text-align: center;
margin: 0px auto; 
}

footer {
	color: #99c50a;
	margin: 0px auto; 
	/*color: #848484;*/
	/*font-family: "Open Sans", sans-serif;*/
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding: 20px;
}

.mainformfirst {
	margin: 0 20% 0 20%;
}

.mainform {
	margin: 0 30% 0 30%;
}

.succes {
	color: red;
}

textarea {
	resize: both;
	min-height: 200px;
	max-height: 300px;
	min-width: 300px;
	max-width: 500px;
}